.idea/
src/__pycache__/
src/htmlcov/
src/cov_html/
src/.coverage
*__pycache__
*.cache
*.swp
*.bbl
*.aux
*.blg
*.out
*.pdf
*.gz
*.toc
*.log
*.json
combinedjsonfiles.txt
exerciseOverview.txt
*.pyc
*images_on_imgur.bin
